<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js" ></script>

  <link rel="stylesheet" href="style.css">
  
</head>

<body>
  
  <!-- Vue will be mounted here -->
  
	<div id="app">

    <!-- UI controls that can are used to manipulate the display of the chart -->
  
    <div class="controls">
      
      <div>
	      <label>Chart width</label>
  	    <input type="range" v-model="settings.width" min="0" max="1000" />
      </div>
     
      <div>
        <label>Stroke color</label>
	      <button onClick="history.go(0);">random color</button>
      </div>
       
      <div>
	      Selected: {{ selected }}
      </div>
    </div>

    <!-- SVG that renders the chart based on the "width" and "height" setting from the Vue instance’s data object -->
    
		<svg v-bind:width="settings.width" v-bind:height="settings.height">
    
    <!-- In contrast to D3’s "select" methods, we define the graphical elements explicitely here and use the template syntax to loop through collections and bind properties such as "d" or "r" to those elements. -->
    
      <transition-group tag="g" name="line" >

        <!-- Links are represented as paths -->
        
        <path v-for="link in links" class="link" v-bind:key="link.id" v-bind:d="link.d" v-bind:style="link.style"></path>
        
			</transition-group>


      <!-- We can now also use events to elements that will call respective methods on the Vue instance --> 
      
      <transition-group tag="g" name="list">
        <g class="node" v-on:click="select(index, node)" v-for="(node, index) in nodes" v-bind:key="node.id" v-bind:style="node.style" v-bind:class="[node.className, {'highlight': node.highlight}]">

          <!-- Circles for each node -->  

          <circle v-bind:r="node.r" v-bind:style="{'fill': index == selected ? '#ff0000' : '#bfbfbf'}"></circle>

          <!-- Finally, text labels -->

          <text v-bind:dx="node.textpos.x" v-bind:dy="node.textpos.y" v-bind:style="node.textStyle">{{ node.text }}</text>

        </g>
    	</transition-group>
  	</svg>
	</div>
  
	<script type="text/javascript" src="main.js">
  </script>
</body>